@model IEnumerable<PIA_PRUEBA.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.iCategory_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.iCategory_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.iCategory_ID })
        </td>
    </tr>
}

</table>
