@model PIA_PRUEBA.Models.Film

@{
    ViewBag.Title = "Pelicula";
}

<h2>@Html.DisplayFor(model => model.vTitle)</h2>

<div>
    <h4>Pelicula  @Html.DisplayFor(model => model.iFilm_ID)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sRelease_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sRelease_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tRental_Duration_Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tRental_Duration_Days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sLength_In_Minutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sLength_In_Minutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sReplacement_Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sReplacement_Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language.vName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language.vName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.iFilm_ID }) |
    @Html.ActionLink("Volver", "Index")
</p>
