@model PIA_PRUEBA.Models.Actor

@{
    ViewBag.Title = "Actor";
}

<h2>@Html.DisplayFor(model => model.vFirstName) @Html.DisplayFor(model => model.vLastName)</h2>

<div>
    <h4>Actor @Html.DisplayFor(model => model.iActor_ID)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vLastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.iActor_ID }) |
    @Html.ActionLink("Volver", "Index")
</p>
