@model IEnumerable<PIA_PRUEBA.Models.Payment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.iAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dPayment_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.vFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff.vFirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.iAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dPayment_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.vFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staff.vFirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.iPayment_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.iPayment_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.iPayment_ID })
        </td>
    </tr>
}

</table>
